<div class="dashboard__mapCol">
  <div id='map' class="dashboard__mapContainer"></div>
</div>

<div class="dashboard__shipmentsContainer">
  {{> shipments }}
</div>

<script src="./map.js"></script>
<script src="./dashboard.js"></script>