<section class="section">
  <div class="container">
    <h1 class="title">
      Dashboard
    </h1>
    <p class="subtitle">
      Welcome, <strong>Somebody (No auth yet)</strong>!
    </p>
  </div>
</section>