<section class="section login__container">
  <div class="columns is-vcentered is-centered login__formContainer">
    <div class="column is-one-third">

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input id="email" class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input id="password" class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>


      <div id="incorrect_error" class="notification is-danger is-hidden">
        <button class="delete"></button>
        The email and password you entered is incorrect.
      </div>

      <div class="field">
        <p class="control">
          <button id="login-button" class="button is-success">
            Login
          </button>
        </p>
      </div>
    </div>

  </div>
</section>

<script src="./login.js"></script>